@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3D494E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply xl:text-5xl lg:text-4xl sm:text-3xl text-2xl;
}

h2 {
  @apply md:text-4xl lg:text-5xl text-3xl font-bold mb-4;
}

h3 {
  @apply text-2xl font-semibold mb-4 leading-[1.1];
}

.card {
  @apply flex flex-col sm:flex-row rounded-4xl text-white overflow-hidden w-lg max-w-125;
}

.form-input {
  @apply bg-white rounded-lg py-3 pr-6 pl-11 w-full placeholder:text-slate-400 text-[#323E48];
}
.form-select {
  @apply bg-white rounded-lg py-3 px-5 w-full;
}

:invalid {
  color: #323E48CC;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  width: 35px!important;
  height: 35px!important;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
}

.swiper-button-next {
  background-image: url('/arrow-right-w.svg'); /* Path to your image */
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: unset!important;
  left: unset!important;
  bottom: 28px!important;
  right: 28px!important;

}

.swiper-button-prev {
  background-image: url('/arrow-left-w.svg'); /* Path to your image */
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  top: unset!important;
  left: unset!important;
  bottom: 28px!important;
  right: 90px!important;
}

@media (max-width: 48rem) {
  .swiper-button-next {
    right: 16px!important;
  }
  .swiper-button-prev {
    right: unset!important;
    left: 16px!important;
  }
}